extends ./layouts/default
block title
  title 雪妮雪妮 首页
block content
  include ./includes/header
  .container-fluid
    .col-12.col-md-3.col-xl-2.bd-sidebar
      .collapse.bd-links
        .sidebar-item.active
          a.sider-link(href='/') links
          ul.nav.bd-sidenav
            li.active.sidebar-inner-active
              a(href="/docs/4.0/getting-started/download/")
            li.active.sidebar-inner-active
              a(href="/docs/4.0/getting-started/download/")
    .col-12.col-md-9.col-xl-8.py-md-3.pl-md-5.bd-content
      .row
        .col-md-6
          .card
            img.card-img-top(src="http://i2.fuimg.com/562411/2bb5ee9dd6a0c6a3s.jpg",data-video="https://cm.phncdn.com/videos/201307/09/14553002/vl_480_358k_14553002.mp4?a5dcae8e1adc0bdaed975f0d61fb5e05756dc4acc488d2f9e61ef33953093512602c6cb1feb478ca9d8ff527a6e1f0b4d4a65b7d0445eda8e8b2070db2fce87fe977dc2f1997f836dca6bcdc81f94a5f1ef4e6c77c48e10ce7777d522a7331dedb1daccce6540dd059762bc62bd5e18e063814c8ebee4c73a348")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              small.text-muted 1天前更新
        .col-md-6
          .card
            img.card-img-top(src="http://i2.fuimg.com/562411/2bb5ee9dd6a0c6a3s.jpg",data-video="https://ic-68c78600-0d3682-24c3605.d.rncdn3.com/videos/201707/12/124159781/480P_600K_124159781.mp4?ipa=104.199.134.3&rs=99&ri=1000&s=1517869043&e=1517876243&h=101a99d04aa2fea2401a1347bb792161")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              small.text-muted 1天前更新

  #myModal.modal.fade.bd-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog.modal-lg
      #videoModal.odal-content
  include ./includes/script
  script.
    //实现播放时视频的功能
    var player = null
    $(document).ready(function() {
      //销毁
      $('#myModal').on('hidden.bs.modal', function(e) {
        if (player && player.pause) player.pause() //关闭模态框的时候把视频暂停
      })


      $('.card-img-top').click(function(e) {
        var video = $(this).data('video')
        var image = $(this).attr('src')
        console.log('video',video)
        console.log('image',image)
        $("#myModal").modal('show')
        if (!player) {
          //创建player
          //- player = new DPlayer({
          //-   container: document.getElementById('videoModal'),
          //-   screenshot: true,
          //-   video: {
          //-     url: video,
          //-     pic: image,
          //-     thumbnails: image,
          //-     type: 'auto'
          //-   },
          //- })

          player = new DPlayer({
              container: document.getElementById('videoModal'),
              autoplay: true,
              video: {
                  url: video,
                  pic: image,
                  image,
                  type: 'auto'
              }
          });
        } else {
          player.switchVideo({
            url: video,
            pic: image,
            type: 'auto'
          })
        }
      })
    })
