extends ./layouts/default
block title
  title 雪妮雪妮 首页
block content
  include ./includes/header
  .container-fluid
    .col-12.col-md-3.col-xl-2.bd-sidebar
      .collapse.bd-links
        .sidebar-item.active
          a.sider-link(href='/') links
          ul.nav.bd-sidenav
            li.active.sidebar-inner-active
              a(href="/docs/4.0/getting-started/download/")
            li.active.sidebar-inner-active
              a(href="/docs/4.0/getting-started/download/")
    .col-12.col-md-9.col-xl-8.py-md-3.pl-md-5.bd-content
      .row
        .col-md-6
          .card
            img.card-img-top(src="http://i2.fuimg.com/562411/2bb5ee9dd6a0c6a3s.jpg",data-video="https://dm.phncdn.com/videos/201602/28/69764731/171008_2110_480P_600K_69764731.mp4?ttl=1517961548&ri=1228800&rs=712&hash=ac46baae2eb77fa68defd7c2d249572b")
            .card-body
              h4#biaoti.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              small.text-muted 1天前更新
        .col-md-6
          .card
            img.card-img-top(src="http://i2.fuimg.com/562411/2bb5ee9dd6a0c6a3s.jpg",data-video="https://cm.phncdn.com/videos/201703/05/108576702/720P_1500K_108576702.mp4?a5dcae8e1adc0bdaed975f0d67fb5e0527c20903c5bb57a6cad7e6cb50bc41fbb1152c24e90ee001fc80e2affff13edb7e3a2f80a84257f3cc68f29a0fac78498e2a79054ef1f5dbb665a3f0ba61aa0dd6be38014c69ce11c43aa87d17986aa5d5441cda3924f0913dd8eee1e9897bdc3e7ecafe42826806fe146c87")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              small.text-muted 1天前更新

  #myModal.modal.fade.bd-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog
      #videoModal.modal-content

  include ./includes/script
  script.
    //实现播放时视频的功能
    var player = null
    $(document).ready(function() {
      $('#myModal').on('hidden.bs.modal', function(e) {
        if (player && player.pause) player.pause() //关闭模态框的时候把视频暂停
      })
      $('.card-img-top').click(function(e) {
        var video = $(this).data('video')
        var image = $(this).attr('src')
        $("#myModal").modal('show')
        if (!player) {
          player = new DPlayer({
              container: document.getElementById('videoModal'),
              screenshot: true,
              autoplay: false,
              video: {
                  url: video,
                  pic: image,
                  thumbnails: image,
              }
          });
        } else {
          if (player.video.currentSrc !== video) {
            player.switchVideo({
              url: video,
              pic: image,
              type: 'auto'
            })
          }
        }
      })
    })
